body{
  font-family: "Montserrat-bold";
  text-align: center;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}


p{
  color: #8f8f8f;
}

/* ids */
#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;

}

#features{
  padding: 7% 15%;
  background: #fff;
  position: relative;
}

#press{
  background-color: #ff4c68;

  padding-bottom: 3%;
}

#pricing{
  padding: 100px;

}

#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  font-family: "Montserrat-black";
  font-weight: bolder;
  font-size: 6rem;
  line-height: 1;

}

#footer{
  padding: 7% 15%;
  background-color: #fff;

  margin: 1% 2%;
}

#testimonials{


  background-color: #ff4c68;
  color: #fff;
}

/* classes */
.title-image{
  width: 17%;
  transform: rotate(22deg);
  position: absolute;
   z-index: 0;
   right: 22%;
}

.circle{

  padding: 5%;
}

.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand{
  font-size: 2.8rem;
  font-weight: bold;
}


.download-button{
  margin: 5% 3% 5% 0;
}
.icon{
  color: red;
  margin-bottom: 1rem;
}

.icon:hover{
  color: blue;
}

.carousel-item{
  padding: 7% 15%;

}
.test-image{
  width: 17%;
  border-radius: 100%;
  margin: 15px;
}


.press-log{
  width: 15%;

  margin: 20px 20px 50px;
}

.pricing-col{
  padding: 3% 2%;
}

.space{
  margin-right: 20px;
}

.io{
  font-size: 5rem;
}

.logo{
  margin-right: 10px;

}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
     .title-image{
      position: static;
      transform: rotate(0);
    }
}
